.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: var(--z-modal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  transition: 0.3s;

  > div {
    width: 100%;
    overflow-y: auto;
    padding: 24px;
    box-sizing: border-box;
    animation: fade-down 0.3s 0.1s backwards;
    @keyframes fade-down {
      from {
        transform: translateY(-16px);
        opacity: 0;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      > * {
        pointer-events: all;
      }
    }
  }

  &:not(.show) {
    opacity: 0;
  }
  &.left {
    left: -100%;
    left: min(-500px, 100%);
  }
  &.right {
    left: 100%;
    left: min(500px, 100%);
  }
}
